{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>JEE Prep</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" type="image/x-icon" href="{% static "images/icon.png" %}" />
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Work+Sans:300,400,700" rel="stylesheet">
<link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />   
<link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}" />
</head>
<body>
<div class="site-wrap">
<div class="site-mobile-menu">
<div class="site-mobile-menu-header">
<div class="site-mobile-menu-close mt-3">
</div>
</div>
</div> 
<div class="site-blocks-cover overlay" style="background-image: url(/static/images/hero_1.jpg);">
<div class="container" >
<div class="row align-items-center justify-content-center">
<div class="col-md-10 text-center" >
<h1 class="mb-2">Welcome To JEE Prep</h1><br>
<h2 class="caption" style="font-size:1.4em;">complete online jee test preparation</h2>
</div>
</div>
</div>
</div> 


<div class="site-section">
    <div class="container">
    <div class="row">
    <div class="col-md-6 mx-auto text-center mb-5 section-heading">
    <h2 class="mb-5">Test Yourself</h2>
    </div>
    </div>      
        
    <h2 class="h5">
        Take JEE Main and Advanced Mock Test here online for free. Mock Test of 
        JEE Main and Advanced is an important part of exam preparation. JEE Main and Advanced
        Mock Test by JEE Prep is based on exam syllabus and level of exam. Practise Physics, Chemistry, Mathematics 
        of JEE Main and Advanced level with online mock test. Joint Entrance Examination  
        is conducted by National Testing Agency (NTA) for admission to Engineering.</h2>
        
    </div>
    </div>
    </div>


<div class="site-section bg-light">
<div class="container">
<div class="row">
<div class="col-md-6 mx-auto text-center mb-5 section-heading" style="padding-bottom: 1.5rem;">
<h2 class="mb-5">Mock Test</h2>
</div>
</div>
<div class="row">
<div class="col-md-6 col-lg-6 mb-5">
<div class="hotel-room text-center">
<a class="d-block mb-0 thumbnail">
<img src="{% static "images/img_4.jpg" %}" alt="Ohh, image not found" class="img-fluid">​
</a>
<div class="hotel-room-body">
<button type="button" class="btn btn-primary btn-grad"><a href="{{main_link}}"  style="text-decoration:none;color: white;">Attempt Test</a></button>
</div>
</div>
</div>
<div class="col-md-6 col-lg-6 mb-5">
    <div class="hotel-room text-center">
    <a class="d-block mb-0 thumbnail">
    <img src="{% static "images/img_5.jpg" %}" alt="Ohh, image not found" class="img-fluid">​
    </a>
    <div class="hotel-room-body">
    <button type="button" class="btn btn-primary btn-grad"><a href="{{adv_link}}"  style="text-decoration:none;color: white;">Attempt Test</a></button>
    </div>
    </div>
    </div>
</div>
</div>
</div>




<div class="py-5 upcoming-events" style="background-image: url('/static/images/img_9.jpg'); background-attachment: fixed;">
<div class="container">
<div class="row align-items-center">
<div class="col-md-10">
<h4 class="text-white" style="text-align: center;">If you want to crack the JEE then, you must need a lot of hard work and sincere preparation. Have a look at last minute tips and tricks for JEE preparation.</h4>
</div>
<div class="col-md-2">
<button type="button" class="btn btn-primary btn-grad1"><a href="https://scoop.eduncle.com/jee-advanced-last-minute-tips" style="text-decoration:none;color: white;">View</a></button>
  
</div>
</div>

</div>
</div>

<div class="site-section">
<div class="container">
<div class="row">
<div class="col-md-6 mx-auto text-center mb-5 section-heading">
<h2 class="mb-5">FAQs</h2>
</div>
</div>
    
<h2 class="h5">
   <b> 1. Why should one take the JEE Main and Advanced mock test?</b><br><br>
   <b>Ans.</b> The JEE Main and Advanced mock test helps students to understand the test pattern vividly, thereby making them come up with effective test strategies. Taking mock tests helps students to assess their preparation and identify their drawbacks. 
   Also, they can work on their time-management strategies by taking more number of mock tests. Their pace of problem-solving gets better with mock tests. It is imperative that students take as many mock tests as possible while preparing for JEE Main and Advanced, to enhance their performance and boost up their confidence. The more they will practice the more confident they will become for their examination.<br><br>
   <br>
   <b>2. Why should one choose JEE Prep's JEE Main and Advanced mock test?</b><br>
   <br><b>Ans.</b> JEE Prep is one of the most sought after study portals that assists and guides the JEE aspirants with the best mock tests. The online tests help the students to study anytime and anywhere. The JEE Main and Advanced mock test series available on JEE Prep has been prepared by highly experienced teachers. All the important topics are covered in the test series and it is so prepared that students will have an opportunity to understand the exam pattern of JEE Main and Advanced. 
   JEE Mains and Advanced will be conducted in an online mode and students will become familiar with the interface of the examination with the help of mock test series.
   <br><br><br><b>3. Which is the correct time to take the JEE Main and Advanced mock test series?</b>
   <br><br><b>Ans.</b> JEE aspirants may take the first mock test early in the year, just to understand the real exam scenario. This will give them a heads up for their preparation. The sooner they cover the entire syllabus the better it will be for them to begin with the JEE Main and Advanced mock test series. 
   Also, they can take mock tests after completing each module. It will be a quick revision of all the topics that they cover in the module. After every mock test, they must analyze their performance and chalk out a strategy to score better in the next test.
    </h2>
</div>
</div>  

<footer class="site-footer">
<div class="container">
<div class="row pt-5 mt-5 text-center">
<div class="col-md-12">
<p>
JEE Prep | Copyright &copy; 
<script>document.write(new Date().getFullYear());</script> | All Rights Reserved
</p>
</div>
</div>
</div>
</footer>
</div>
</body>
</html>