{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>JEE Prep</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" type="image/x-icon" href="{% static "images/icon.png" %}" />
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Work+Sans:300,400,700" rel="stylesheet">
<link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />   
<link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}" />
</head>
<body>
<div class="site-wrap">
<div class="site-mobile-menu">
<div class="site-mobile-menu-header">
<div class="site-mobile-menu-close mt-3">
</div>
</div>
</div> 



<div class="site-section">
    <div class="container">
    <div class="row">
    <div class="col-md-10 mx-auto text-center mb-5 section-heading">
    <h2 class="mb-5">JEE Main Mock Test Instructions</h2>
    </div>
    </div>      
        
    <h2 class="h5">
        <br>
        <b style="font-size: 1.5rem;">General Instructions :</b><br><br>
        <ul style="list-style-type:disc">
            <li>Total duration of examination is <b>180 minutes</b>.</li>
            <li>The clock will be set at the server.  </li>
            <li>The countdown timer in the top right corner of screen will display the remaining time available for you to complete the examination.</li>
            <li>When the timer reaches zero, the examination will end by itself.</li>
            <li> You will not be required to end or submit your examination.</li>
        </ul><br><br>
        <b style="font-size: 1.5rem;">Answering a Question :</b><br><br>
        <ul style="list-style-type:disc">
            <li>Click on the question number in the Question Palette to go to that numbered question directly.</li>
            <li>To select your answer, click on the button of one of the options.</li>
            <li>To deselect your chosen answer, click on the button of the chosen option again.</li>
            <li>To change your chosen answer, click on the button of another option</li>
            <li> To change your answer to a question that has already been answered, first select that question for answering and then follow the procedure for answering that type of question.</li>
            
        </ul>
        <br><br>
        <b style="font-size: 1.5rem;">Marking Scheme :</b><br><br>
        <ul style="list-style-type:disc">            
            <li> <b>Four</b> marks will be awarded for indicating correct response of each question</li>
            <li>¼ (one fourth) marks i.e. <b>one </b>mark will be deducted for indicating incorrect response of each question. </li>
            <li> No deduction from the total score will be made if no response is indicated for a question.</li>
        </ul>
    </h2><br><br>
        <div class=" mx-auto text-center ">
        <button type="button" class="btn btn-primary btn-grad"><a href="{{quiz_link}}"  style="text-decoration:none;color: white;">Start Test</a></button></div>
    </div>
    </div>
    </div>







<!-- <footer class="site-footer">
<div class="container">
<div class="row pt-5 mt-5 text-center">
<div class="col-md-12">
<p>
JEE Prep | Copyright &copy; 
<script>document.write(new Date().getFullYear());</script> | All Rights Reserved
</p>
</div>
</div>
</div>
</footer> -->
</div>
</body>
</html>