{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>JEE Prep</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" type="image/x-icon" href="{% static "images/icon.png" %}" />
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Work+Sans:300,400,700" rel="stylesheet">
<link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />   
<link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}" />
</head>
<body>
<div class="site-wrap">
<div class="site-mobile-menu">
<div class="site-mobile-menu-header">
<div class="site-mobile-menu-close mt-3">
</div>
</div>
</div> 
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center mb-5 section-heading" style="padding-bottom: 1.5rem;">
            <h2 class="mb-5">Your Result</h2>
            </div>
            </div>
            
            {% if marks > 0 %}
        <div class="alert alert-success" role="alert">
            Total Score : {{marks}}
          </div>
          {% else %}
          <div class="alert alert-primary" role="alert">
            Total Score : {{marks}}
          </div>
          {% endif %}
          
        {% for result in Exam %} 
            
    <div class="container mt-sm-5 my-1" >
        <div class="py-2 h5"><b>Q{{result.Qid}}. {{result.Question}}</b></div>
        <p>Option1: {{result.Option1}}</p>
        <p>Option2: {{result.Option2}}</p>
        <p>Option3: {{result.Option3}}</p>
        <p>Option4: {{result.Option4}}</p>
        <p>Correct Answer: {{result.Corrans}}</p>
    </div>

    {% endfor %}
    <!-- <div class="row">
        <div class="col-md-6 mx-auto text-center mb-5 section-heading" style="padding-bottom: 1.5rem;">
        <h2 class="mb-5">Your Responses</h2>
        </div>
        </div>
    {% for a in user_resp %}
    <div class="container mt-sm-5 my-1" >{{ a }}</div>
    {% endfor %} -->
    <button type="button" class="btn btn-primary btn-grad" style="margin-top: 4%;margin-left: 42%;"><a href="{{index}}"  style="text-decoration:none;color: white;">Back to Home Page</a></button>
    <button type="button" class="btn btn-primary btn-grad" style="margin-top: 2%;margin-left: 42%;"><a href="{{quiz}}"  style="text-decoration:none;color: white;">Attempt Quiz Again</a></button>

    </div>
</div>



    </div>




</div>
</body>
</html>






