{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>JEE Prep</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" type="image/x-icon" href="{% static "images/icon.png" %}" />
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Work+Sans:300,400,700" rel="stylesheet">
<link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />   
<link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}" />
</head>
<body>
<div class="site-wrap">
<div class="site-mobile-menu">
<div class="site-mobile-menu-header">
<div class="site-mobile-menu-close mt-3">
</div>
</div>
</div> 




    <div class="container2 ">
            <div class="row">
                <div class="col-md-9">
        <h6><span class="grey">1</span>
             <span class="grey">2</span>
             <span class="grey">3</span>
             <span class="red">4</span>
             <span class="green">5</span>
             <span class="grey">1</span>
             <span class="grey">2</span>
             <span class="grey">3</span>
             <span class="red">4</span>
             <span class="green">5</span>
             <span class="grey">1</span>
             <span class="grey">2</span>
             <span class="grey">3</span>
             <span class="red">4</span>
             <span class="green">5</span>
             <span class="grey">1</span>
             <span class="grey">2</span>
             <span class="grey">3</span>
             <span class="red">4</span>
             <span class="green">5</span>
             <span class="grey">1</span>
             <span class="grey">2</span>
             <span class="grey">3</span>
             <span class="red">4</span>
             <span class="green">5</span>
             <span class="grey">1</span>
             <span class="grey">2</span>
             <span class="grey">3</span>
             <span class="red">4</span>
             <span class="green">5</span>
             <span class="grey">1</span>
             <span class="grey">2</span>
             <span class="grey">3</span>
             <span class="red">4</span>
             <span class="green">5</span>
            </h6> 
        </div> 
        <div class="col-md-3" style="color:white;text-align: center;">
                <h3>Time Remaining</h3><h3>02 : 12 : 34</h3>
        </div>  
        </div>   
    </div>
    <div class="container">         
        
    <div class="container1 mt-sm-5 my-1">
        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <div class="py-2 h5"><b>Q. which option best describes your job role?</b></div>
            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options"> <label class="options">Small Business Owner or Employee <input type="radio" name="radio"> <span class="checkmark"></span> </label> <label class="options">Nonprofit Owner or Employee <input type="radio" name="radio"> <span class="checkmark"></span> </label> <label class="options">Journalist or Activist <input type="radio" name="radio"> <span class="checkmark"></span> </label> <label class="options">Other <input type="radio" name="radio"> <span class="checkmark"></span> </label> </div>
        </div>
        <div class="d-flex align-items-center pt-3">
            <div id="prev" style="position: relative;left: 2rem;"> <button class="btn btn-primary">Previous</button> </div>
            <div class="ml-auto mr-sm-5"> <button class="btn btn-success">Next</button> </div>
        </div>
    </div>
        
    </div>
  
    </div>




<!-- <footer class="site-footer">
<div class="container">
<div class="row pt-5 mt-5 text-center">
<div class="col-md-12">
<p>
JEE Prep | Copyright &copy; 
<script>document.write(new Date().getFullYear());</script> | All Rights Reserved
</p>
</div>
</div>
</div>
</footer> -->
</div>
</body>
</html>